#count{
    justify-content: center;
    display: flex;
    margin-top: 0.5em;
}
.view{
    justify-content: center;
    display: flex;
    font-weight: 700;
}
@media screen and (max-width:600px) {
.view{
    margin: 0.5em 0;
}
}