.service{
    background-image: url("https://i.pinimg.com/originals/ab/57/e7/ab57e7728808d24d6d04570aa9b0808b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
html{
    scroll-behavior: smooth;
}
.explore{
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}
.explore h2{
   
    color: white;
    background-color: rgba(128, 128, 128, 0.094);
    margin-top: 10%;
    margin-left: 40%;
    padding: 0.3em;
    font-size: 2.5em;
    font-weight: bold;
    
}

#arroww{
    float: right;
    margin-right: 25em;
    margin-top: 5em;
    height: 8em;
    background-color: aliceblue;
    border-radius: 50%;
}
.gridsec{
    margin-top: 27em;
    padding-top: 2em;
    padding-bottom: 2em;
    /* margin-bottom: 10em; */
    background-color: #dbe7fc;
    min-height: 100vh;
    background-size: max-content;
}

@media screen and (max-width:600px) {
    .service{

        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        
    } 
    .explore h2{
   
    color: white;
    background-color: rgba(128, 128, 128, 0.094);
    margin-top: 15%;
    margin-left: 0%;
    padding: 0.3em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    
}

#arroww{
text-align: center;
    margin-top: 5em;
    margin-right: 10em;
    height: 8em;
    background-color: aliceblue;
    border-radius: 50%;
}
.gridsec{
    margin-top: 40em;
    height: 100vh;
}
}